* {
    font-family: "Poppins", sans-serif;
    src: url("https://fonts.google.com/specimen/Poppins?query=poppins");
}

body {
    display: flex;
    background-color: #EAEAF4;
    margin: 0;
}

main {
    width: 100%;
}

header {
    background-color: #1F1F3C;
    width: 35%;
    text-align: center;
}

h1 {
    margin-top: 8%;
    font-size: 6.0vw;
    color: #EAEAF4;
}

form {
    background-color: #A8AAD2;
    color: #1F1F3C;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 50%;
    justify-content: space-around; 
}

.form-field {
    display: flex;
    width: 90%; 
    height: 16%;
    justify-content: flex-end;
    align-items: center;
}

label {
    font-size: x-large  ;
    font-weight: 500;
    margin-right: 1%;
}

input[type="text"] {
    border: solid 3px #1F1F3C ;
    width: 90%;
    height: 80%;
}

textarea {
    border: solid 3px #1F1F3C ;
    width: 90%;
    height: 200%;
    resize: none;
}

#save-button {
    background-color: #1F1F3C;
    color: #EAEAF4;
    font-size: x-large;
    padding: 2%;
    border: none;
    width: 90%;
    height: 100%;
}
.card {
    background-color: white;
    border: solid 3px #1F1F3C;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    color: #1F1F3C;
    grid-row-end: span 2;
    margin-bottom: 70px;
    width: 80%;
    height: 100%;
}

.delete-box {
    height: 20%;
    background-color: #1F1F3C;
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    height: 90%;
    width: 25%;
    border: none;
    background-color: #1F1F3C;
    color: #EAEAF4;
    font-size: 2.2em;
    font-weight: 300;
    margin-right: 5%;
}
  
.card-title {
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 30px;
}
  
.card-body {
    font-weight: 100;
}

#card-display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 190px;
    grid-gap: 20px;
    padding: 20px 0%;
    height: 50%;
    width: 90%;
    margin-bottom: 20px;
    justify-items: center;
  /*  add scroll feature  */
}

#card-area {
    display: flex;
    justify-content: space-around;
}

.hidden {
    visibility: hidden;
}

.arrow {
    width: 20px;
    opacity: 50%;
}

#back-arrow {
    margin-left: 2%;
}

#next-arrow {
    margin-right: 2%;
}