* {
    font-family: "Poppins", sans-serif;
    src: url("https://fonts.google.com/specimen/Poppins?query=poppins");
}

body {
    display: flex;
    background-color: #EAEAF4;
}

main {
    width: 100%;
}

header {
    background-color: #1F1F3C;
    width: 35%;
    text-align: center;
}

header h1 {
    margin-top: 8%;
    font-size: 6.0vw;

}

form {
    background-color: #A8AAD2;
    color: #1F1F3C;
    display: table;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 50%;
}

div {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}


div label {
    margin: 1%
}


div input {
    border: solid 3px #1F1F3C ;
    width: 70%;
    height: 100%;
    margin: 1%
}

#save-button {
    background-color: #1F1F3C;
    color: #EAEAF4;
    font-size: x-large;
    padding: 2%;
    margin: 10px;
    border: none;

}



/* div {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table
} */

h1 {
    color: #EAEAF4;
}