* {
    font-family: "Poppins", sans-serif;
    src: url("https://fonts.google.com/specimen/Poppins?query=poppins");
}

body {
    display: flex;
    background-color: #EAEAF4;
    margin: 0;
}

main {
    width: 100%;
}

header {
    background-color: #1F1F3C;
    width: 35%;
    text-align: center;
}

h1 {
    margin-top: 8%;
    font-size: 6.0vw;
    color: #EAEAF4;
}

form {
    background-color: #A8AAD2;
    color: #1F1F3C;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 50%;
    justify-content: space-around; 
}

.form-field {
    display: flex;
    width: 90%; 
    height: 16%;
    justify-content: flex-end;
    align-items: center;
}

label {
    font-size: x-large  ;
    font-weight: 500;
    margin-right: 1%;
}

input[type="text"] {
    border: solid 3px #1F1F3C ;
    width: 90%;
    height: 80%;
}

textarea {
    border: solid 3px #1F1F3C ;
    width: 90%;
    height: 200%;
    resize: none;
}

#save-button {
    background-color: #1F1F3C;
    color: #EAEAF4;
    font-size: x-large;
    padding: 2%;
    border: none;
    width: 90%;
    height: 100%;
}
